
include jade/variables.jade
include jade/mixin.jade

doctype html
html(lang="en")
	:verbatim
	include ./jade/head.jade
	body
		:verbatim
		include blocks/nav/nav.jade
		include blocks/header/header.jade
//		include blocks/delivery/delivery.jade
//		include blocks/catalog/catalog.jade
//		include blocks/promo/promo.jade
